In [1]:
import numpy as np
import pandas as pd
import matplotlib as mt
import holoviews as hv

In [ ]:
data_2023=pd.read_excel("D:\\Rutgersstuff\\BigDataAlgorithms\\BigDataProjectData\\2023-33\\education.xlsx", sheet_name=[1,2,3,4], skiprows= lambda x: x == 0)

In [39]:
data_2023[1].head() #slay

,Educational attainment,Median usual weekly earnings ($),Unemployment rate (%)
0,Doctoral degree,2109.0,1.6
1,Professional degree,2206.0,1.2
2,Master's degree,1737.0,2.0
3,Bachelor's degree,1493.0,2.2
4,Associate's degree,1058.0,2.7

In [40]:
data_2019=pd.read_excel("D:\\Rutgersstuff\\BigDataAlgorithms\\BigDataProjectData\\2019-29\\education.xlsx", sheet_name=[1,2,3], skiprows = lambda x: x == 0)

In [41]:
data_2019[1].head()

,Typical entry-level education,"Employment, 2019","Employment distribution, percent, 2019","Employment change, percent, 2019-29","Median annual wage, 2020(1)"
0,"Total, all occupations",162795.6,100.0,3.7,41950.0
1,Doctoral or professional degree,4412.8,2.7,5.9,110200.0
2,Master's degree,2633.9,1.6,15.0,78210.0
3,Bachelor's degree,36864.2,22.6,6.4,77920.0
4,Associate's degree,3601.6,2.2,6.2,56590.0