In [2]:
import numpy as np
import pandas as pd

In [13]:
skills_df = pd.read_excel('C:\\Users\\athar\\Big-Data-Project\\project_data\\2023-33\\skills.xlsx', sheet_name = 2, header = 1)
education_df = pd.read_excel('C:\\Users\\athar\\Big-Data-Project\\project_data\\2023-33\\education.xlsx', sheet_name = 3, header = 1)

combined_df = pd.merge(skills_df, education_df, on='2023 National Employment Matrix code')
combined_df.head()

,2023 National Employment Matrix title_x,2023 National Employment Matrix code,"Employment, 2023","Employment, 2033","Employment change, numeric, 2023–33","Employment change, percent, 2023–33","Median annual wage, dollars, 2023[1]",Typical education needed for entry,Adaptability,Computers and information technology,...,Speaking and listening,Writing and reading,2023 National Employment Matrix title_y,Less than high school diploma,High school diploma or equivalent,"Some college, no degree",Associate's degree,Bachelor's degree,Master's degree,Doctoral or professional degree
0,"Total, all occupations",00-0000,167849.8,174589.0,6739.2,4.0,48060,—,3.8,3.0,...,3.2,3.3,"Total, all occupations",7.4,22.6,18.9,9.5,25.1,11.7,4.8
1,Chief executives,11-1011,313.9,331.1,17.2,5.5,206680,Bachelor's degree,4.2,3.7,...,4.0,4.2,Chief executives[1],1.6,7.9,13.7,5.2,40.0,24.7,6.9
2,General and operations managers,11-1021,3630.1,3840.5,210.4,5.8,101280,Bachelor's degree,4.1,3.5,...,3.5,3.8,General and operations managers,3.2,17.5,23.5,9.9,32.7,11.5,1.6
3,Legislators[2],11-1031,33.7,35.0,1.4,4.1,47290,Bachelor's degree,4.2,3.7,...,4.0,4.2,Legislators[1],1.6,7.9,13.7,5.2,40.0,24.7,6.9
4,Advertising and promotions managers,11-2011,22.2,21.7,-0.6,-2.6,131870,Bachelor's degree,4.0,3.6,...,3.9,3.7,Advertising and promotions managers,1.0,4.2,7.8,5.2,65.2,15.2,1.4

In [14]:
combined_df = combined_df.rename(columns = {"2023 National Employment Matrix title" : "Occupation","Typical education needed for entry" : "Education","Median annual wage, dollars, 2023[1]" : "Median Annual Wage"})

In [16]:
total = combined_df['Less than high school diploma'] + combined_df['High school diploma or equivalent'] + combined_df['Some college, no degree'] + combined_df['Associate\'s degree'] + combined_df['Bachelor\'s degree'] + combined_df['Master\'s degree'] + combined_df['Doctoral or professional degree']
total

0      100.0
1      100.0
2       99.9
3      100.0
4      100.0
       ...
852      NaN
853      NaN
854      NaN
855      NaN
856      NaN
Length: 857, dtype: float64